body {

  background: rgb(255, 255, 255);
  animation: background 5s infinite alternate;
}

@keyframes background {
  50% {
    background: rgb(215, 244, 255);
  }
} 

  html, body {
    margin: 0;
    padding: 0;
  }

  .register_block_title {

    text-align: center;
    max-width: 400px;
    margin: 200px auto;
    border: 2px solid black;
    border-radius: 40px;
  }
  .register_container {

    margin: 30px 0 0 0;
  }
  .register_title {
    border: 1px solid black;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 40px;
  }

  .register_form {

    margin: 50px 0 40px 0;
  }

  .register_form input {

    padding: 5px 10px;
    margin: 0 0 0 20px;
    border: 1px solid black;
    border-radius: 10px;
  }


.button_container {

  margin: 30px 0 0 0;
}

.button_container button {

  border-radius: 10px;
  padding: 5px 15px;
  transition: background-color 0.5s ease-in-out;
 
}

.sign_up_button {

  margin: 0 0 0 10px;
}

.button_container button:hover {

 background-color: rgb(236, 125, 125);

}